@model Employee
@{
    ViewData["Title"] = "Update";
}

<h1>Update Employee</h1>
<br />
<hr />

<form asp-action="Update">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="IsActive"></label>
        <input asp-for="IsActive" class="form-control" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="HireDate"></label>
        <input asp-for="HireDate" class="form-control" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" /> |
    <input type="reset" value="Original Data" class="btn btn-secondary" /> |
    <a class="btn btn-dark" asp-action="Index">Back To List</a>

</form>

@section validationSection{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
